@import "tailwindcss";

.menu-item {
  @apply block px-4 py-2 rounded hover:bg-orange-100 transition;
}
.sidebar-item {
  @apply flex items-center gap-3 px-4 py-2 rounded-lg
         text-gray-700 hover:bg-indigo-50 transition;
}

.sidebar-item.active {
  @apply bg-indigo-100 text-indigo-700 font-medium;
}

.icon {
  @apply w-5 h-5;
}
.dashboard-card {
  @apply bg-white rounded-xl shadow p-5
         flex items-center justify-between
         border-l-4;
}

.icon-box {
  @apply w-12 h-12 rounded-lg
         flex items-center justify-center
         text-xl;
}
.badge {
  @apply px-3 py-1 rounded-full text-xs font-medium;
}

.badge-indigo {
  @apply bg-indigo-100 text-indigo-700;
}

.badge-sky {
  @apply bg-sky-100 text-sky-700;
}

.badge-emerald {
  @apply bg-emerald-100 text-emerald-700;
}

.badge-yellow {
  @apply bg-yellow-100 text-yellow-700;
}

.form-input {
  @apply w-full border border-gray-300 rounded-lg px-3 py-2
         focus:outline-none focus:ring-2 focus:ring-indigo-500;
}
@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scaleIn {
  animation: scaleIn 0.15s ease-out;
}
.product-card {
  @apply bg-white rounded-xl shadow p-3 cursor-pointer
         hover:ring-2 hover:ring-indigo-500 transition;
}
